
.ProductList {
	display: grid;
	grid-template-columns: repeat(auto-fill, 380px);
	gap: 30px;
	place-content: center;
	margin: 1em 0 0 0;
	background-color: white;
}

@media (max-width: 640px) {
	.ProductList {
		grid-template-columns: repeat(auto-fill, 140px);
	}
}
