:root {
    --colorHtml: #EEEEEE;
    --colorHeaderFooter: #000000;
    --colorWhite: #ffffff;

}

html {
    background-color: var(--colorHtml);
}

.ContenedorHeader {
    background-color: var(--colorHeaderFooter);
}

.links {
    color: var(--colorWhite) !important;
}

.hero-img,
img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}