:root {
  --colorHtml: #EEEEEE;
  --colorHeaderFooter: #000000;
  --colorWhite: #ffffff;

}

html {
  background-color: var(--colorHtml);
}

.App {
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  min-height: 100vh;
}

.ContenedorHeader {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 13%;
  background-color: var(--colorHeaderFooter);
  z-index: 999;
}

.contenedor {
  flex-grow: 1;
}

.ContenedorFooter {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 13%;
  background-color: var(--colorHeaderFooter);
}


.links {
  color: var(--colorWhite) !important;
}

.hero-img,
img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#imgDashboard {
  width: 20%;
}
/* Animation Scroll */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}



.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.Register-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.image-hover-effect {
  transition: all 0.5s ease; /* adds a smooth transition effect */
}

.image-hover-effect:hover {
  opacity: 0.7; /* reduces the opacity of the image when hovered */
  transform: scale(1.1); /* scales up the size of the image when hovered */
}

.product-card__overlay {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.position-relative:hover .product-card__overlay {
  opacity: 1;
}

.icon-pointer{
  cursor: pointer;
}

